@import "../../mixins/mixins.scss";
.navbarWrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  .navbarLeft {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    .navbarName {
      font-weight: bold;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  .navbarRight {
    flex: 1;
    @include flex-center();

    .navbarList {
      flex: 10;
      .navbarListItem {
        display: flex;
        gap: 2rem;
        margin-right: 4rem;
        list-style-type: none;
        :hover {
          cursor: pointer;
          color: var(--orange);
        }
        .navbarMenuList {
          font-weight: 400;
        }
      }
    }
    .btn {
      flex: 2;
    }
  }
}
